<section class="section" id="projects">
    <header class="section__header">
        <h2 class="section__header_title">My projects</h2>
        <span class="section__header_number">#03</span>
    </header>
    <div class="section__content projects__container">
        <div class="projects">
            {%- for project in projects -%}
            <div class="project" data-project-card>
                <div class="project__image">
                    <a target="_blank" href="{{ project.url }}" rel="noopener noreferrer nofollow">
                        <img
                            src="{{ project.image }}"
                            alt="Photo of {{ project.title }}"
                        />
                    </a>
                </div>
                <div class="project__content">
                    <h3 class="project__title">{{ project.title }}</h3>
                    <p class="project__description">
                        {{ project.description }}
                    </p>
                    <ul class="project__tags">
                        {%- for tag in project.tags -%}
                        <li class="project__tag">{{ tag }}</li>
                        {%- endfor -%}
                    </ul>
                    <ul class="project__links">
                        {%- for link in project.links -%}
                        <li>
                            <a href="{{ link.url }}" class="project__link" rel="noopener noreferrer nofollow">
                                {{ link.title }}
                            </a>
                        </li>
                        {%- endfor -%}
                    </ul>
                </div>
            </div>
            {%- endfor -%}
            <button class="projects__show-more" id="projectsShowMore">
                Show more
            </button>
        </div>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const projectCards = document.querySelectorAll("[data-project-card]");
        const showMore = document.getElementById("projectsShowMore");

        if (projectCards.length > 2) {
            showMore.addEventListener("click", (e) => {
                projectCards.forEach((card) => {
                    card.style.display = "flex";
                });
            });
        }
    });
</script>
