.top-nav {
    position: sticky;
    top: 0;

}
.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    background-color: var(--color-primary);
    font-size: 14px;
    font-family: "SourceCodePro";
    line-height: 20px;
}

.nav-list__who-am-i::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_35_950)'%3E%3Cpath d='M1 5.88889V3.44444C1 2.79614 1.25754 2.17438 1.71596 1.71596C2.17438 1.25754 2.79614 1 3.44444 1H5.88889M18.1111 1H20.5556C21.2039 1 21.8256 1.25754 22.284 1.71596C22.7425 2.17438 23 2.79614 23 3.44444V5.88889M23 18.1111V20.5556C23 21.2039 22.7425 21.8256 22.284 22.284C21.8256 22.7425 21.2039 23 20.5556 23H18.1111M5.88889 23H3.44444C2.79614 23 2.17438 22.7425 1.71596 22.284C1.25754 21.8256 1 21.2039 1 20.5556V18.1111M7.11111 14.4444C7.11111 14.4444 8.94444 16.8889 12 16.8889C15.0556 16.8889 16.8889 14.4444 16.8889 14.4444M8.33333 8.33333H8.34556M15.6667 8.33333H15.6789' stroke='%23F8FBFB' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_35_950'%3E%3Crect width='24' height='24' fill='currentColor'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.nav-list__skills::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_35_948)'%3E%3Cpath d='M11.7798 4.48624L11.177 5.09749C11.2551 5.18281 11.3487 5.25068 11.4523 5.29703C11.5559 5.34339 11.6672 5.36728 11.7798 5.36728C11.8923 5.36728 12.0037 5.34339 12.1073 5.29703C12.2108 5.25068 12.3045 5.18281 12.3826 5.09749L11.7798 4.48624ZM6.19951 17.3224C6.02779 17.1737 5.80702 17.1029 5.58574 17.1257C5.36447 17.1484 5.16082 17.2627 5.0196 17.4435C4.87838 17.6243 4.81116 17.8568 4.83272 18.0898C4.85428 18.3228 4.96286 18.5373 5.13458 18.686L6.19951 17.3224ZM0.998762 13.7854C1.05154 13.887 1.12279 13.9766 1.20846 14.0492C1.29413 14.1218 1.39253 14.1759 1.49805 14.2084C1.60358 14.2409 1.71415 14.2513 1.82346 14.2388C1.93277 14.2263 2.03868 14.1913 2.13513 14.1357C2.23159 14.0802 2.31671 14.0051 2.38563 13.9149C2.45455 13.8247 2.50592 13.7211 2.53681 13.61C2.5677 13.4988 2.5775 13.3824 2.56566 13.2673C2.55382 13.1522 2.52056 13.0407 2.46779 12.9391L0.998762 13.7854ZM1.4542 8.76145C1.4542 6.23417 2.81048 4.11361 4.66239 3.22142C6.46183 2.3551 8.87969 2.58432 11.177 5.09749L12.3826 3.87616C9.65886 0.89398 6.49309 0.401455 3.96583 1.61807C1.49439 2.80883 -0.220215 5.57355 -0.220215 8.76145H1.4542ZM7.86946 20.9429C8.44211 21.4178 9.05606 21.9233 9.67783 22.3065C10.2996 22.6885 11.0096 23 11.7798 23V21.2368C11.4337 21.2368 11.0274 21.0957 10.5229 20.7842C10.0172 20.4739 9.49365 20.046 8.90648 19.5582L7.86946 20.9429ZM15.6901 20.9429C17.2819 19.6205 19.318 18.1065 20.9143 16.2128C22.5407 14.285 23.7798 11.8953 23.7798 8.76145H22.1054C22.1054 11.3451 21.1007 13.3352 19.6629 15.042C18.195 16.7817 16.3454 18.1535 14.6531 19.5582L15.6901 20.9429ZM23.7798 8.76145C23.7798 5.57355 22.0663 2.80883 19.5937 1.61807C17.0665 0.401455 13.9029 0.89398 11.177 3.87499L12.3826 5.09749C14.6799 2.58549 17.0977 2.3551 18.8972 3.22142C20.7491 4.11361 22.1054 6.233 22.1054 8.76145H23.7798ZM14.6531 19.5582C14.0659 20.046 13.5424 20.4739 13.0367 20.7842C12.5322 21.0946 12.1258 21.2368 11.7798 21.2368V23C12.55 23 13.26 22.6885 13.8817 22.3065C14.5046 21.9233 15.1175 21.4178 15.6901 20.9429L14.6531 19.5582ZM8.90648 19.5582C8.01792 18.8212 7.11486 18.1159 6.19951 17.3224L5.13458 18.686C6.06109 19.4888 7.04118 20.2553 7.86946 20.9429L8.9076 19.5582H8.90648ZM2.46779 12.9403C1.79535 11.6618 1.44632 10.2228 1.4542 8.76145H-0.220215C-0.220215 10.6869 0.248622 12.3408 0.998762 13.7854L2.46779 12.9403Z' fill='%23919191'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_35_948'%3E%3Crect width='24' height='24' fill='currentColor'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.nav-list__projects::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cg clip-path='url(%23clip0_35_938)'%3E%3Cpath d='M12.4998 22.212C12.2802 22.212 12.0696 22.2992 11.9144 22.4545C11.7591 22.6098 11.6718 22.8204 11.6718 23.04C11.6718 23.2596 11.7591 23.4702 11.9144 23.6255C12.0696 23.7808 12.2802 23.868 12.4998 23.868V22.212ZM8.03416 23.7951C8.14275 23.8017 8.25156 23.7867 8.35438 23.7512C8.4572 23.7157 8.55202 23.6602 8.63341 23.5881C8.71481 23.5159 8.7812 23.4284 8.82878 23.3306C8.87636 23.2328 8.90421 23.1265 8.91074 23.0179C8.91726 22.9093 8.90233 22.8005 8.8668 22.6977C8.83128 22.5949 8.77584 22.5001 8.70367 22.4187C8.6315 22.3373 8.544 22.2709 8.44618 22.2233C8.34835 22.1757 8.24211 22.1479 8.13352 22.1413L8.03416 23.7951ZM1.73584 12C1.73584 14.0689 1.73584 16.2283 1.92242 18.0345C2.01626 18.9397 2.15978 19.7887 2.3883 20.5118C2.61242 21.225 2.94362 21.8985 3.46912 22.3655L4.5687 21.1279C4.36667 20.9479 4.1525 20.6002 3.96702 20.015C3.78597 19.441 3.6579 18.7145 3.56958 17.8644C3.39294 16.161 3.39184 14.0943 3.39184 12H1.73584ZM12.4998 23.868C14.8204 23.868 16.6354 23.8691 18.0496 23.7002C19.4771 23.5302 20.622 23.1736 21.5306 22.3655L20.431 21.1279C19.8845 21.6136 19.1305 21.904 17.8531 22.0552C16.5615 22.2098 14.8624 22.212 12.4998 22.212V23.868ZM8.13352 22.1413C6.24126 22.0276 5.24877 21.7318 4.5687 21.1279L3.46912 22.3655C4.59078 23.3624 6.07787 23.677 8.03416 23.7951L8.13352 22.1413ZM21.6078 12.4272C21.6078 14.4498 21.5935 16.4193 21.4113 18.0356C21.3208 18.8426 21.1905 19.5293 21.0139 20.0724C20.8328 20.6244 20.6253 20.9545 20.431 21.1279L21.5306 22.3655C22.0384 21.9139 22.3641 21.2692 22.5871 20.588C22.8145 19.8947 22.9602 19.0844 23.0574 18.221C23.2517 16.4966 23.2627 14.4321 23.2638 12.4284L21.6078 12.4272Z' fill='%23919191'/%3E%3Cpath d='M15.4366 14.431L18.753 13.4363M9.56332 14.4299L2.93049 12.4416C2.27361 12.244 1.94462 12.1457 1.73596 11.9094C1.6951 11.8633 1.65818 11.8138 1.62556 11.7615C1.45996 11.4932 1.45996 11.151 1.45996 10.4643C1.45996 7.75951 1.45996 6.40711 2.20295 5.4941C2.34647 5.31746 2.50655 5.15738 2.68209 5.01496C3.5951 4.27197 4.9475 4.27197 7.6523 4.27197H17.3476C20.0524 4.27197 21.4048 4.27197 22.3178 5.01496C22.4945 5.15848 22.6546 5.31856 22.797 5.4941C23.54 6.40711 23.54 7.75951 23.54 10.4643C23.54 11.151 23.54 11.4932 23.3744 11.7615C23.3418 11.8138 23.3048 11.8633 23.264 11.9094C23.0984 12.0971 22.8566 12.1965 22.436 12.329' stroke='%23919191' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M6.42773 4.27196C7.33633 4.24988 8.26037 3.67028 8.56949 2.81468L8.60813 2.70097L8.63573 2.61596C8.6821 2.47575 8.70639 2.4062 8.73068 2.34438C8.88663 1.95667 9.14941 1.62117 9.48848 1.37689C9.82755 1.1326 10.229 0.989559 10.6461 0.964377C10.7113 0.959961 10.7863 0.959961 10.9321 0.959961H14.0652C14.212 0.959961 14.286 0.959961 14.3522 0.964377C14.7694 0.989559 15.1708 1.1326 15.5099 1.37689C15.849 1.62117 16.1117 1.95667 16.2677 2.34438C16.2931 2.4062 16.3163 2.47686 16.3626 2.61596L16.3913 2.70097C16.4112 2.75948 16.42 2.78929 16.43 2.81468C16.7391 3.67028 17.662 4.24988 18.5706 4.27196' stroke='%23919191' stroke-width='1.5'/%3E%3Cpath d='M14.7082 12.5519H10.2922C10.1458 12.5519 10.0054 12.61 9.90191 12.7136C9.79839 12.8171 9.74023 12.9575 9.74023 13.1039V15.4907C9.74026 15.601 9.77329 15.7087 9.83508 15.8C9.89686 15.8913 9.98456 15.962 10.0869 16.003L10.8597 16.3121C11.9128 16.7335 13.0877 16.7335 14.1408 16.3121L14.9136 16.003C15.0159 15.962 15.1036 15.8913 15.1654 15.8C15.2272 15.7087 15.2602 15.601 15.2602 15.4907V13.1039C15.2602 12.9575 15.2021 12.8171 15.0986 12.7136C14.995 12.61 14.8546 12.5519 14.7082 12.5519Z' stroke='%23919191' stroke-width='1.5' stroke-linecap='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_35_938'%3E%3Crect width='24' height='24' fill='currentColor' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.nav-list li {
    padding: 12px 8px;
    cursor: pointer;
    position: relative;
    display: flex;
    gap: 8px;
    align-items: center;
    flex-shrink: 0;
}

.nav-list li::before {
    flex-shrink: 0;
}

.nav-list a,
.nav-list a:visited {
    flex-shrink: 0;
    color: var(--color-secondary);
    text-decoration: none;
}

.nav-list_active::after {
    content: "";
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-accent);
}

.nav-list .nav-list_active a {
    color: var(--color-white);
}
