.top-nav {
    position: sticky;
    top: 0;
    z-index: 2;
}
.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    background-color: var(--color-primary);
    font-size: 14px;
    font-family: "SourceCodePro";
    line-height: 20px;
}

.nav-list li {
    padding: 12px 8px;
    position: relative;
}

.nav-list li {
    flex-shrink: 0;
}

.nav-list li {
    flex-shrink: 0;
    color: var(--color-secondary);
}

.nav-list a,
.nav-list a:visited {
    text-decoration: none;
    color: inherit;
    display: flex;
    gap: 8px;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
}

.nav-list_active::after {
    content: "";
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-accent);
}

li.nav-list_active,
li.nav-list_active a {
    color: var(--color-white);
}

.nav-list a:hover  {
    color: var(--color-white);
}
