---
permalink: bundle.css
---

{% include "root.css" %}
{% include "sections.css" %}
{% include "components/navigation/styles.css" %}
{% include "components/who-am-i/styles.css" %}
{% include "components/skills/styles.css" %}
{% include "components/projects/styles.css" %}
{% include "components/footer/styles.css" %}