---
layout: layout.njk
---

<div class="container">
    <header>
        <div class="logo">bymse</div>
    </header>
    {% include "components/navigation/index.html" %}
    <main>
        {% include "components/who-am-i/index.html" %}
        {% include "components/skills/index.html" %}
        {% include "components/projects/index.html" %}
    </main>
    <footer>{% include "components/footer/index.html" %}</footer>
</div>
