<section class="section" id="skills">
    <header class="section__header">
        <h2 class="section__header_title">Skills</h2>
        <span class="section__header_number">#02</span>
    </header>
    <div id="skills-map">
        <svg>
            <g class="links"></g>
            <g class="nodes"></g>
        </svg>
        {% include "components/loader/index.html" %}
    </div>
    <script>
        const data = {{ skills | jsonify | safe}};

        const NODE_DEFAULT_RADIUS = 90;
        const BORDER_MARGIN = NODE_DEFAULT_RADIUS * 0.1;
        const NODE_DISTANCE = NODE_DEFAULT_RADIUS * 0.3;
        const MAX_HEIGHT = 800;
        const MAX_WIDTH = 1200;

        const viewportHeight = Math.max(
            document.documentElement.clientHeight || 0,
            window.innerHeight || 0
        );

        const height = Math.min(MAX_HEIGHT, viewportHeight - 48);

        const nodesInColumn = Math.ceil(
            height /
                (NODE_DEFAULT_RADIUS + NODE_DISTANCE + BORDER_MARGIN * 2)
        );
        const columns = Math.ceil(data.nodes.length / nodesInColumn);
        const minWidth = columns * (NODE_DEFAULT_RADIUS + NODE_DISTANCE * 2) + BORDER_MARGIN * 2;

        const skillsMap = document.getElementById("skills-map");
        const { width: rectWidth } = skillsMap.getBoundingClientRect();

        const width = Math.min(
            MAX_WIDTH,
            Math.max(minWidth, rectWidth - 12)
        );

        skillsMap.querySelector("svg").setAttribute("width", width);
        skillsMap.querySelector("svg").setAttribute("height", height);

        //document.addEventListener("DOMContentLoaded", drawSkillsMap);

        function drawSkillsMap() {

            const root = d3.select("#skills-map svg");

            const calculateRadius = (size, radius) => {
                const percents = size / 10;
                return radius * percents;
            };

            const yScale = d3.scaleLinear().domain([1, 10]).range([0, height]);
            const xScale = d3.scaleLinear().domain([1, 10]).range([0, width]);

            const simulation = d3
                .forceSimulation(data.nodes)
                .force(
                    "y",
                    d3.forceY().y((d) => yScale(d.vertical))
                )
                .force(
                    "x",
                    d3.forceX().x((d) => xScale(d.horizontal))
                )
                .force(
                    "collision",
                    d3
                        .forceCollide()
                        .radius((d) =>
                            calculateRadius(
                                d.size,
                                NODE_DEFAULT_RADIUS + NODE_DISTANCE
                            )
                        )
                )
                .force(
                    "link",
                    d3
                        .forceLink()
                        .links(data.links)
                        .id((d) => d.title)
                        .distance(NODE_DISTANCE)
                )
                .on("tick", () => fixBounds())
                .on("end", onEnd);

            function onEnd() {
                document.querySelector(".loader").classList.add("hidden");
                setTimeout(() => {
                    updateLinks();
                    updateNodes();
                }, 300);
            }

            root.select(".nodes")
                .selectAll("foreignObject")
                .data(data.nodes)
                .enter()
                .append("foreignObject")
                .append("xhtml:div")
                .attr("class", "circle")
                .text((d) => d.title);

            root.select(".links")
                .selectAll("line")
                .data(data.links)
                .enter()
                .append("line");

            function updateLinks() {
                root.select(".links")
                    .selectAll("line")
                    .attr("x1", (d) => d.source.x)
                    .attr("y1", (d) => d.source.y)
                    .attr("x2", (d) => d.target.x)
                    .attr("y2", (d) => d.target.y);
            }

            function updateNodes() {
                root.select(".nodes")
                    .selectAll("foreignObject")
                    .attr("transform", function (d) {
                        const radius = calculateRadius(
                            d.size,
                            NODE_DEFAULT_RADIUS
                        );
                        return `translate(${-radius},${-radius})`;
                    })
                    .attr("x", (d) => d.x)
                    .attr("y", (d) => d.y)
                    .attr(
                        "width",
                        (d) => calculateRadius(d.size, NODE_DEFAULT_RADIUS) * 2
                    )
                    .attr(
                        "height",
                        (d) => calculateRadius(d.size, NODE_DEFAULT_RADIUS) * 2
                    );
            }

            function fixBounds() {
                const graphNodes = simulation.nodes();

                graphNodes.forEach((node) => {
                    const radius =
                        calculateRadius(node.size, NODE_DEFAULT_RADIUS) +
                        BORDER_MARGIN;
                    if (node.x - radius < 0) {
                        node.x = radius;
                        node.vx = 0;
                    }

                    if (node.y - radius < 0) {
                        node.y = radius;
                        node.vy = 0;
                    }

                    if (width && node.x + radius > width) {
                        node.x = width - radius;
                        node.vx = 0;
                    }

                    if (height && node.y + radius > height) {
                        node.y = height - radius;
                        node.yx = 0;
                    }
                });
            }
        }
    </script>
</section>
