.section {
    padding-top: 24px;
    scroll-margin-top: 46px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.section:nth-child(even) {
  background-color: var(--color-primary);
}

.section__header {
  display: grid;
  grid-template: "title number" / auto auto;
  justify-content: space-between;
  padding: 0 12px 4px;
  font-size: 20px;
  color: var(--color-secondary);
  font-family: "SourceCodePro";
  border-bottom: 1px solid var(--color-secondary);
}

.section:nth-child(even) .section__header {
    grid-template-areas: "number title";
    color: var(--color-tertiary);
    border-bottom-color: var(--color-tertiary);
}

.section__header_title {
  grid-area: title;
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: inherit;
}

.section__header_number {
  grid-area: number;
}

.section__content {
  padding: 28px 12px 32px;
}

@media only screen and (min-width: 768px) {
  .section {
    flex-direction: row;
    padding-top: 0;
    padding: 0 min(100px, 8%);
  }

  .section:nth-child(even) .section__header,
  .section__header {
    grid-template-areas: 
    "title"
    "number";
    font-size: 32px;
    line-height: 40px;
    border-bottom: none;
    border-right: 1px solid var(--color-secondary);
    padding-top: 20px;

    position: sticky;
    top: 48px;
    height: calc(100vh - 72px);
    padding-bottom: 20px;
  }

  .section__header_title {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    align-self: start;
  }

  .section__header_number {
    align-self: end;
  }
}