<section class="section">
    <header class="section__header">
        <h2 class="section__header_title">Interests</h2>
        <span class="section__header_number">#02</span>
    </header>
    <div id="interests-map">
        <svg>
            <g class="links"></g>
            <g class="nodes"></g>
        </svg>
    </div>
    <script>
        const map = document.getElementById("interests-map");
        const { width } = map.getBoundingClientRect();
        const height = 600;
        const defaultRadius = 100;

        const svg = document.querySelector("#interests-map svg");

        const root = d3
            .select("#interests-map svg")
            .attr("width", width)
            .attr("height", height);

        const data = {
            nodes: [
                { title: "Programming", size: "100" },
                { title: ".NET", size: "90" },
                { title: "ASP.NET Core", size: "70" },
                { title: "Blazor", size: "40" },
                { title: "Razor", size: "40" },
                { title: "SignalR", size: "40" },
            ],
            links: [
                {
                    source: ".NET",
                    target: "Programming",
                },
                {
                    source: "ASP.NET Core",
                    target: ".NET",
                },
                {
                    source: "Blazor",
                    target: "ASP.NET Core",
                },
                {
                    source: "Razor",
                    target: "ASP.NET Core",
                },
                {
                    source: "SignalR",
                    target: "ASP.NET Core",
                },
            ],
        };

        const calculateRadius = (size, radius) => {
            const percents = size / 100;
            return radius * percents;
        };

        const simulation = d3
            .forceSimulation(data.nodes)
            .force("charge", d3.forceManyBody().strength(1))
            .force("center", d3.forceCenter(width / 2, height / 2))
            .force(
                "collision",
                d3
                    .forceCollide()
                    .radius((d) => calculateRadius(d.size, defaultRadius + 20))
            )
            .force(
                "link",
                d3
                    .forceLink()
                    .id((d) => d.title)
                    .links(data.links)
            )
            .on("tick", ticked);

        const nodes = root
            .select(".nodes")
            .selectAll("g")
            .data(data.nodes)
            .enter()
            .append("g");

        nodes
            .append("circle")
            .attr("r", (d) => calculateRadius(d.size, defaultRadius));

        nodes.append("text").text((d) => d.title);

        const links = root
            .select(".links")
            .selectAll("line")
            .data(data.links)
            .enter()
            .append("line");

        function updateNodes() {
            root.select(".nodes")
                .selectAll("g")
                .attr("transform", function (d) {
                    return "translate(" + d.x + "," + d.y + ")";
                });
        }

        function updateLinks() {
            root.select(".links")
                .selectAll("line")
                .attr("x1", (d) => d.source.x)
                .attr("y1", (d) => d.source.y)
                .attr("x2", (d) => d.target.x)
                .attr("y2", (d) => d.target.y);
        }

        function resizeSvg() {
            const bbox = svg.getBBox();
            svg.setAttribute("width", bbox.x + bbox.width + bbox.x);
        }

        function ticked() {
            updateNodes();
            updateLinks();
            resizeSvg();
        }
    </script>
</section>
