.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    --max-distance: 100px;
    --shape-a-size: 100px;
    --shape-b-size: calc(var(--shape-a-size) / 4);
    --shift: calc(var(--max-distance) + var(--shape-a-size) / 2 + var(--shape-b-size) / 2);
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.shape-a {
    width: var(--shape-a-size);
    height: var(--shape-a-size);
    border-radius: 50%;
    background-color: var(--color-secondary);
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: calc(50% - var(--shape-a-size) / 2);
    animation: 5s infinite normal loader_shape-a;
    z-index: 2;
}

.shape-b {
    width: var(--shape-b-size);
    height: var(--shape-b-size);
    border-radius: 50%;
    background-color: var(--color-white);
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: calc(50% - var(--shape-b-size) / 2);
    animation: 5s infinite normal loader_shape-b;
}

@media only screen and (min-width: 768px) {
    .loader {
        --max-distance: 140px;
        --shape-a-size: 200px;
    }
}

@keyframes loader_shape-a {
    0% {
    }

    10% {
        background-color: var(--color-secondary);
    }

    12% {
        background-color: var(--color-secondary);
    }

    15% {
        background-color: var(--color-white);
    }

    23% {
        background-color: var(--color-white);
    }

    25% {
        background-color: var(--color-secondary);
    }

    32% {
        background-color: var(--color-secondary);
    }

    35% {
        background-color: var(--color-white);
    }

    72% {
        background-color: var(--color-white);
    }

    75% {
        background-color: var(--color-accent);
    }

    82% {
        background-color: var(--color-accent);
    }

    85% {
        background-color: var(--color-white);
    }

    92% {
        background-color: var(--color-white);
    }
}

@keyframes loader_shape-b {
    0% {
    }

    10% {
        transform: translateY(var(--shift));
    }

    20% {
        transform: translateY(calc(-1*(var(--shift))));
    }

    30% {
        transform: translateY(var(--shift));
        background-color: var(--color-white);
        border-radius: 50%;
        z-index: 1;
    }

    40% {
        transform: translateY(0);
        background-color: var(--color-accent);
        border-radius: 0;
        z-index: 3;
    }

    50% {
        transform: rotate(135deg) scale(2);
    }

    60% {
        transform: rotate(0deg) scale(1);
    }

    70% {
        transform: translateY(var(--shift));
        z-index: 3;
    }

    71% {
        z-index: 1;
    }

    80% {
        transform: translateY(calc(-1*(var(--shift))));
    }

    90% {
        transform: translateY(var(--shift));
        background-color: var(--color-accent);
        border-radius: 0;
    }
    
    99% {
        background-color: var(--color-accent);
        border-radius: 0;
    }
}
