<section class="section" id="who_am_i">
    <header class="section__header">
        <h2 class="section__header_title">Who am I</h2>
        <span class="section__header_number">#01</span>
    </header>
    <div class="section__content whoami__container">
        <div class="whoami">
            <div class="whoami__image">
                <img src="/assets/me.webp" alt="Photo of {{ whoAmI.name }}" />
            </div>
            <div class="whoami__text-container">
                <div class="whoami__name">{{ whoAmI.name }}</div>
                <div class="whoami__sign">{{ whoAmI.sign }}</div>
                <p class="whoami__description">{{ whoAmI.description }}</p>
            </div>
        </div>
    </div>
</section>
