.whoami__container {
    container-type: inline-size;
}

.whoami {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: "SourceCodePro";
    line-height: 24px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
}

.whoami__image {
    border-radius: 8px;
    max-width: 100%;
    align-self: center;
}

.whoami__image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    max-height: 400px;
}

.whoami__text-container {
    max-width: 540px;
    flex: 1 0 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas:
        "name name ."
        "sign sign ."
        ". description description";
}

.whoami__name {
    margin-top: 20px;
    grid-area: name;
    font-size: 32px;
    font-family: "SourceCodePro";
    font-weight: 700;
    line-height: 40px;
}

.whoami__sign {
    grid-area: sign;
}

.whoami__description {
    grid-area: description;
    margin-bottom: 0;
}


@media only screen and (min-width: 768px) {
    .whoami__container {
        width: 100%;
    }
}

@container (min-width: 1000px) {   
    .whoami__image {
        align-self: flex-start;
    
    }
    .whoami__image img {
        max-height: 550px;
    }

    .whoami__text-container {
        max-width: 600px;
    }

    .whoami { 
        flex-direction: row;
        gap: 24px;
        align-items: flex-start;
    }
}